In [1]:
# GroupBy and Pivot
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('d:\Data\Python\TradeoffData.csv')
data.head(n=10)

  Group Treatment  Replicate  RelativeFitness
0   BKB      Tube          1         0.869963
1   BKB      Tube          2         1.000363
2   BKB      Tube          3         0.982935
3   BAC      Tube          1         0.810392
4   BAC      Tube          2         0.795107
5   JDK      Tube          1         0.849204
6   JDK      Tube          2         0.917637
7   JDK      Tube          3         0.905323
8   ETH      Tube          1         0.930821
9   ETH      Tube          2         0.958183

In [3]:
# Create a "Group" object
bytreatment = data.groupby('Treatment')
# This will show statistics of the Relative Fitness column, grouped by Treatment
bytreatment['RelativeFitness'].describe()

Treatment
Dish       count    32.000000
           mean      1.456359
           std       0.184792
           min       0.955221
           25%       1.429005
           50%       1.510884
           75%       1.581340
           max       1.699276
Tube       count    32.000000
           mean      0.929589
           std       0.050153
           min       0.795107
           25%       0.915050
           50%       0.939089
           75%       0.953505
           max       1.000363
dtype: float64

In [4]:
# Group By two columns
bygroup_treatment = data.groupby(['Group', 'Treatment'])
bygroup_treatment['RelativeFitness'].describe()

Group  Treatment
BAC    Dish       count    2.000000
                  mean     1.633628
                  std      0.026313
                  min      1.615022
                  25%      1.624325
                  50%      1.633628
                  75%      1.642931
                  max      1.652234
       Tube       count    2.000000
                  mean     0.802749
                  std      0.010808
                  min      0.795107
                  25%      0.798928
                  50%      0.802749
                  75%      0.806570
                  max      0.810392
BKB    Dish       count    3.000000
                  mean     1.315682
                  std      0.179156
                  min      1.152544
                  25%      1.219815
                  50%      1.287085
                  75%      1.397250
                  max      1.507415
       Tube       count    3.000000
                  mean     0.951087
                  std      0.070794
                  min      0.869963
                  25%      0.926449
                  50%      0.982935
                             ...
PPP    Dish       std      0.036531
                  min      1.508969
                  25%      1.531269
                  50%      1.553568
                  75%      1.567477
                  max      1.581386
       Tube       count    3.000000
                  mean     0.970277
                  std      0.020897
                  min      0.948767
                  25%      0.960166
                  50%      0.971565
                  75%      0.981033
                  max      0.990500
SWI    Dish       count    3.000000
                  mean     1.451796
                  std      0.079652
                  min      1.362556
                  25%      1.419848
                  50%      1.477141
                  75%      1.496417
                  max      1.515692
       Tube       count    3.000000
                  mean     0.918647
                  std      0.009692
                  min      0.909023
                  25%      0.913768
                  50%      0.918514
                  75%      0.923459
                  max      0.928405
dtype: float64

In [5]:
tips = pd.read_csv('D:\\Data\\Python\\tips.csv')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
table = pd.pivot_table(tips, values='tip', index=['day', 'time'], columns='sex', aggfunc=np.sum)
print(table.to_string(na_rep='0'))

sex          Female    Male
day  time
Fri  Dinner   14.05   21.23
     Lunch    10.98    5.70
Sat  Dinner   78.45  181.95
Sun  Dinner   60.61  186.78
Thur Dinner    3.00       0
     Lunch    79.42   89.41

### Transform

In [8]:
df_B = pd.DataFrame()
for x in range(10):
    df_B[x] = df_A.ix[np.random.randint(10)]
df_B

,0,1,2,3,4,5,6,7,8,9
A,1.053657,-0.232813,0.839403,-2.696867,-0.625524,-2.196237,0.839403,-1.088788,0.839403,2.140899
B,1.046599,0.448871,1.650686,-0.134224,-2.071708,-0.290021,1.650686,-0.061951,1.650686,0.683533

In [9]:
df_B.T

          A         B
0  1.053657  1.046599
1 -0.232813  0.448871
2  0.839403  1.650686
3 -2.696867 -0.134224
4 -0.625524 -2.071708
5 -2.196237 -0.290021
6  0.839403  1.650686
7 -1.088788 -0.061951
8  0.839403  1.650686
9  2.140899  0.683533

## Melt function to go from wide and short to tall and skinny

In [10]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'}, 'B': {0: 1, 1: 3, 2: 5}, 'C': {0: 2, 1: 4, 2: 6}})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [12]:
tom = pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
tom

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6