In [1]:
import pandas as pd
import numpy as np

### Stacking:
Compresses several columns into a single column, with the column names as values

In [2]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz','foo', 'foo', 'qux', 'qux'],['one', 'two', 'one', 'two','one', 'two', 'one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [3]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[[u'bar', u'baz', u'foo', u'qux'], [u'one', u'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=[u'first', u'second'])

In [4]:
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=['A', 'B', 'C'])
df

                     A         B         C
first second
bar   one    -1.523664 -1.118269 -1.105106
      two    -0.404000  0.108504 -1.499202
baz   one     0.499763  0.451232  1.707192
      two     1.248847 -0.562506 -2.319202
foo   one    -0.656612  1.240385  0.304524
      two    -0.248411  0.325955 -0.230243
qux   one     1.873214 -1.827930 -0.092237
      two    -2.209891 -1.000994 -1.416578

In [5]:
# Slicing works, counting rows from right-most column
df2 = df[:4]
df2

                     A         B         C
first second
bar   one    -1.523664 -1.118269 -1.105106
      two    -0.404000  0.108504 -1.499202
baz   one     0.499763  0.451232  1.707192
      two     1.248847 -0.562506 -2.319202

In [6]:
stacked = df2.stack()
type(stacked)

pandas.core.series.Series

In [7]:
stacked

first  second
bar    one     A   -1.523664
               B   -1.118269
               C   -1.105106
       two     A   -0.404000
               B    0.108504
               C   -1.499202
baz    one     A    0.499763
               B    0.451232
               C    1.707192
       two     A    1.248847
               B   -0.562506
               C   -2.319202
dtype: float64

### Unstack

In [8]:
unstacked = stacked.unstack()
type(unstacked)

pandas.core.frame.DataFrame

In [25]:
unstacked

                     A         B         C
first second
bar   one    -1.581497  0.573383  0.810894
      two     1.778872 -0.906106 -0.902015
baz   one     1.291175 -0.778053 -0.406387
      two    -0.488885  0.138941 -0.565832

In [17]:
stacked = df2.stack()
stacked

In [10]:
# Access a specific cell by label
stacked['bar']['one']['A']

2.6407572211844861

In [11]:
# scalar access
stacked[1]

-1.1726948898638458

In [9]:
# Access a certain level by label
stacked['bar']

second
one     A    2.640757
        B   -1.172695
        C    0.013191
two     A    3.018699
        B   -0.624927
        C    0.057019
dtype: float64